
@{
    ViewBag.Title = "Graficos";
}

<h2>Graficos</h2>

<img src="@Url.Action("GraficoColumnas")" />

<h4>Grafico de Barras</h4>
<img src="@Url.Action("GraficoBarras")" />

<h4>Grafico de Tarta</h4>
<img src="@Url.Action("GraficoTarta")" />

<h4>Grafico de Radar</h4>
<img src="@Url.Action("GraficoRadar")" />